body {
    background-color: #0b2f83;
    width: 512px;
}

.title {
    color: #e5ecf3;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: rgb(114, 115, 119);
    flex-basis: 33.3333%;
    flex-grow: 0;
    text-align: center;
    border: 1px solid #285580;
    border-radius: 0.5rem;
    display: block;
    margin: 5px;
    transition: 0.3s;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-size: 0.875rem;
    font-weight: 700;
    text-align: center;
    text-size-adjust: 100%;
    color: #e5ecf3;
}

.card h5 {
    font-size: 0.7rem;
    font-weight: 700;
    text-align: center;
    text-size-adjust: 100%;
    color: #a8bcdb;
}

.card div {
    font-size: 1.3125rem;
    font-weight: 400;
    text-align: center;
    text-size-adjust: 100%;
}

.card div.standard {
    color: #00c9a7;
}

.card div.fast {
    color: #337afe;
}

.card div.rapid {
    color: rgb(165, 42, 42);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.row {
    display: flex;
    flex-direction: row;
    border: 1px solid #009879;
    border-radius: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-left {}

.header img {
    width: 64px;
    height: 64px;
}

.header .ftm-price {
    border: 1px solid #009879;
    border-radius: 0.5rem;
    color: #e5ecf3;
    background-color: #285580;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;

}

.footer {
    /* display: flex; */
    /* justify-content: space-between; */
    margin-top: 0.5rem;
    color: #e5ecf3;

}

label {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #009879;
}

#chkbox:checked+label #qr {
    width: auto;
    height: auto;

}

#chkbox:checked+label {
    width: auto;
    height: auto;

}

#qr {
    width: 16px;
}

#chkbox {
    visibility: hidden;
}

.copy {
    color: #e5ecf3;
    font-size: larger;
}

/* spinner */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 2px;
    width: 4px;
    background: #cef; 
    color: #337afe;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 2px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 8px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 14px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 2px;
        height: 16px;
    }

    50%,
    100% {
        top: 6px;
        height: 8px;
    }
}

#refresh-button {
    position: absolute;
    top: 30px;
    right: 110px;
    width: 16px;
    height: 16px;
    padding: 0;
    background: url('./icons/refresh-16.png');
    border: 0;
    cursor: pointer;
    outline: none;
}